<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/lambdas_part2/src/lambdas_part2/Lambdas.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lambdas_part2.Lambdas"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lambdas_part2"/>
</launchConfiguration>
